* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 32px;
    max-width: 1170px;
    margin: 0 auto;
}
#banner {
padding-top: 50px;
    .banner {
        padding-top: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        .banner-box{
            .banner-image{
                max-width: 100%;
                img{
                    max-width: 100%;
                }
            }
        }
    }
}